@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

/* 레어아웃 */
#mainTotal{font-family: 'Nanum Gothic', sans-serif;}
#visual{background: url(../images/total4_services/sub_tit_gnb04.png);}
/* CONTENTS */
.national-service{text-align: center; padding-bottom: 30px;}
.national-service h3{font-size: 36px; font-weight: 600; margin-bottom: 30px;}
.national-service p{font-weight: 600; color: #333; margin-bottom: 25px;}